/*CSS Reset*/
body,
header,
nav,
main,
footer,
h1,
h2,
h3,
div,
img,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    padding: 2% 1% 2%;
    font-family: "Assistant", sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
}

h2 {
    padding: 2% 1% 2%;
    font-family: "Assistant", sans-serif;
    font-weight: 600;
    font-size: 2em;
}


/*Sticky footer*/
body {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    flex: 1 0 auto;
}

/*Navigation*/
.name {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

#myname {
    align-self: center;
    padding: 0;
    font-size: 1.5em;
}

.name img {
    vertical-align: middle;
    width: 60px;
    margin: 10px 10px 10px 20px;
}

.about-menu-wrap {
    height: 5em;
    background-color: #565b60;
    padding: 10px 15px;
    width: 100%;
    background-image: url(../images/milad-fakurian-7wUorDiCMSU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position-x: 30%;
    margin-bottom: 3.2em;
}

.menu-wrap {
    height: 5em;
    background-color: #565b60;
    padding: 10px 15px;
    width: 100%;
    background-image: url(../images/milad-fakurian-7wUorDiCMSU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position-x: 30%;
    margin-bottom: 7em;
}

.menu-icon {
    font-size: 2em;
    color: #000;
}

nav {
    position: absolute;
    background-color: #bababa;
    top: 5em;
    left: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    max-height: 0em;
    overflow: hidden;
    transition: max-height 0.5s;
}

nav ul li a {
    display: block;
    padding: 0.75em 1.75em;
    color: #000;
    text-decoration: none;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #fff;
}

#checkbox {
    display: none;
}

/* When the checkbox is checked, expand the height of ul to reveal navigation */
#checkbox:checked~nav ul {
    max-height: 15em;
}

picture,
img {
    margin: 0 auto;
}

/*UX Projects Card Styles*/
.ux-projects {
    margin-bottom: 3%;
}

.card {
    position: relative;
    /*change size*/
    width: 300px;
    /*change size*/
    height: 300px;
    margin: 5% auto;
    background-color: #ececec;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card picture {
    /*change size*/
    width: 300px;
    fill: #333;
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover,
.card:focus {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1%;
    box-sizing: border-box;
    background-color: #ffffff;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.uxtitle {
    font-size: 16px;
    color: #333;
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
}

.card:hover picture,
.card:focus picture {
    transform: scale(0);
}

.card__description {
    margin: 10px 0 0;
    color: #777;
    font-family: "Assistant", sans-serif;
    font-size: 16px;
    line-height: 1;
}


/*Web section styles*/
.web {
    background-image: url(../images/milad-fakurian-7wUorDiCMSU-unsplash.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1% 0 3%;
    display: grid;
    grid-template-rows: 0.5fr 3fr 3fr;
}

/*Web Projects Card Styles*/
.book {
    margin: 0 1% 1%;
    position: relative;
    border-radius: 10px;
    /*change size*/
    width: 300px;
    height: 300px;
    background-color: whitesmoke;
    transform-style: preserve-3d;
    perspective: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    transform-origin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book:hover .cover,
.book:focus .cover {
    transition: all 0.5s;
    transform: rotatey(-80deg);
}

#web {
    grid-row: 1;
}

.one {
    grid-row: 2;
    margin: 1% auto;
}

.two {
    grid-row: 3;
    margin: 1% auto;
}

.web-title {
    font-size: 14px;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
}

p {
    padding: 5% 15% 5% 15%;
    font-size: 14px;
    font-family: "Assistant", sans-serif;
}

/*Illustrations Card Styles*/
.card-illustrations {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    /*change margin (the img size+40px)*/
    margin-bottom: 340px;

}

.illustrations {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.illustrations:hover>.card-illustrations,
.illustrations:focus>.card-illustrations {
    cursor: pointer;
    transform: rotateY(180deg);
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

/*Logo Design section styles*/
.logo-design {
    background-image: url(../images/milad-fakurian-7wUorDiCMSU-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 3%;
}

.logos img {
    margin: 1% auto;
}

.logos {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
}

/*Footer*/
footer {
    background: #9c9e9b;
    color: #fff;
}

.sm-list {
    text-align: center;
    list-style-type: none;
    color: #ffffff;
}

.sm-list li {
    display: inline-block;
}

.sm-list h3 {
    margin: 20px;
    font-family: "Philosopher", sans-serif;
    font-size: 24px;
}

.sm-list a {
    color: #ffffff;
    margin: 20px;
    font-family: "Assistant", sans-serif;
}

.sm-list img {
    width: 32px;
    margin: 20px 10px;
}

.sm-list img:hover {
    opacity: 0.5;
}

/*About page styles*/

.about {
    display: flex;
    flex-direction: column;
}

.about img {
    clip-path: url(#wavy-clip-path);
}

/*About page styles*/

.about p {
    padding: 3% 10%;
    text-align: center;
}

.intro {
    text-align: center;
    margin: 2%;
}

.svg {
    height: 70px;
}

/*Media Queries*/
@media screen and (min-width: 401px) {

    /*UX Projects Card Styles*/
    .card {
        width: 400px;
        height: 400px;
    }

    .card picture {
        width: 400px;
    }

    .card__description {
        line-height: 1.1;
    }

    /*Web Projects Card Styles*/
    .book {
        width: 400px;
        height: 400px;
    }

    .web-title {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    /*Illustrations Card Styles*/
    .illustrations {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
    }

    .card-illustrations {
        margin-bottom: 440px;
    }

    /*About page styles*/

    .about p {
        padding: 3% 15%;
        text-align: center;
    }
}

@media screen and (min-width: 601px) {

    /*UX Projects Card Styles*/
    .card {
        width: 600px;
        height: 600px;
    }

    .card picture {
        width: 600px;
    }

    .card__description {
        font-size: 18px;
        line-height: 1.4;
    }

    .uxtitle {
        font-size: 20px;
    }

    /*Web Projects Card Styles*/
    .book {
        width: 600px;
        height: 600px;
    }

    .web-title {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    /*About page styles*/
    .about p {
        padding: 3% 10%;
    }
}

@media screen and (min-width: 986px) {

    /*Navigation*/
    /* Hide hamburger menu icon on larger screens */
    .menu-icon {
        display: none;
    }

    /* Move navigation links up (as they no longer need to be below hamburger icon) */
    nav {
        position: relative;
        top: -2em;
        height: 100%;
        background-color: transparent;
    }

    /* Adjust max-height to fit content horizontally rather than vertically */
    nav ul {
        max-height: 0.9em;
        padding: 25px 0;
        box-sizing: content-box;
        font-size: 1.1em;
    }

    /* Display list items as an inline-block (on a single line) Add padding between horizontal links */
    nav ul li {
        display: inline-block;
        padding-left: 0.4em;
    }

    nav ul li a {
        padding: 0.8em 1.1em;
    }

    .menu-wrap {
        margin-bottom: 2em;
    }

    /*About page styles*/
    .about p {
        padding: 3% 20%;
    }

    .about-menu-wrap {
        margin-bottom: 0;
    }

    .svg {
        height: 10px;
    }
}


@media screen and (min-width: 1024px) {

    /*UX Projects Card Styles*/
    .ux-projects {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    /*Illustrations Card Styles*/
    .illustrations {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    /*Logos*/
    .logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        row-gap: 20px;
    }

    /*About page*/
    .intro {
        margin: 0.5%;
    }
}

@media screen and (min-width: 1366px) {

    /*Illustrations Card Styles*/
    .illustrations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    /*Logos*/
    .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        row-gap: 20px;
    }

    /*Web Projects Card Styles*/
    .web {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 5fr;
    }

    #web {
        grid-column: span 2;
        height: auto;
    }

    .one {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 0 auto;
    }

    .two {
        grid-column: 2/3;
        grid-row: 2/3;
        margin: 0 auto;
    }

    /*About page styles*/
    .about p {
        padding: 3% 30%;
    }
}


@media screen and (min-width: 1870px) {
    body {
        max-width: 1920px;
    }

    /*Navigation*/
    .menu-wrap,
    .about-menu-wrap {
        display: flex;
    }

    .name {
        position: relative;
    }

    #myname {
        width: 200px;
    }

    .name img {
        margin-top: 0;
    }

    /*UX projects Card Styles*/
    .ux-projects {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /*Illustrations Card Styles*/
    .illustrations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    /*Logos*/
    .logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    /*About page styles*/
    .about p {
        padding: 3% 35%;
    }
}